.main {
  display: flex;
  align-items: center;
  margin-top: 5%;
  justify-content: center;
}
#link {
  text-decoration: none;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  max-height: 250px;
}
